In [10]:
import pandas as pd
import seaborn as sns

df = pd.read_csv('../Datos/Drug5.csv')
#pd.plotting.scatter_matrix(df)
#sns.pairplot(df)
#sns.pairplot(df, hue='Drug', diag_kind='hist')

In [7]:
#-- cualitativos a numericos --
df2 = pd.get_dummies(df.iloc[:, 0:-1])
df2.head()

,Age,Na,K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,23,0.792535,0.031258,1,0,1,0,0,1,0
1,47,0.739309,0.056468,0,1,0,1,0,1,0
2,47,0.697269,0.068944,0,1,0,1,0,1,0
3,28,0.563682,0.072289,1,0,0,0,1,1,0
4,61,0.559294,0.030998,1,0,0,1,0,1,0

In [8]:
#-- ordinales a numericos ---
mapeo = {'Sex': {'F':1, 'M':0},
          'BP':{'HIGH':2, 'NORMAL':1, 'LOW':0},
          'Cholesterol':{'NORMAL':0, 'HIGH':1}}

df.replace(mapeo, inplace=True)
df

     Age  Sex  BP  Cholesterol        Na         K   Drug
0     23    1   2            1  0.792535  0.031258  drugY
1     47    0   0            1  0.739309  0.056468  drugC
2     47    0   0            1  0.697269  0.068944  drugC
3     28    1   1            1  0.563682  0.072289  drugX
4     61    1   0            1  0.559294  0.030998  drugY
..   ...  ...  ..          ...       ...       ...    ...
195   56    1   0            1  0.848774  0.073380  drugC
196   16    0   0            1  0.743021  0.061886  drugC
197   52    0   1            1  0.549945  0.055581  drugX
198   23    0   1            0  0.784520  0.055959  drugX
199   40    1   0            0  0.683503  0.060226  drugX

[200 rows x 7 columns]